{
  "INSTAPAPER_CONSUMER_KEY": "your_consumer_key_here",
  "INSTAPAPER_CONSUMER_SECRET": "your_consumer_secret_here",
  "GOOGLE_IOS_CLIENT_ID": "your_ios_oauth_client_id.apps.googleusercontent.com",
  "GOOGLE_WEB_CLIENT_ID": "your_web_oauth_client_id.apps.googleusercontent.com"
}
